<%= form_for(@ems_text) do |f| %>
  <% if @ems_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ems_text.errors.count, "error") %> prohibited this ems_text from being saved:</h2>

      <ul>
      <% @ems_text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
