<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ems_green_acounting.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ems_green_acounting.body %>
</p>

<%= link_to 'Edit', edit_ems_green_acounting_path(@ems_green_acounting) %> |
<%= link_to 'Back', ems_green_acountings_path %>
