<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ems_reporting.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ems_reporting.body %>
</p>

<%= link_to 'Edit', edit_ems_reporting_path(@ems_reporting) %> |
<%= link_to 'Back', ems_reportings_path %>
