
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to image_tag("logo.svg", alt: "logo"), root_path, class: 'navbar-brand' %>
      
      <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
              <ul class="dropdown-menu">
              <% @lcas.each do |lca| %>
                <li><%= link_to lca.title, lca_path(lca) %></li>
              <% end %>
               <% @energy_analyses.each do |energy_analysis| %>
                <li><%=link_to energy_analysis.title, energy_analysis_path(energy_analysis)  %></li>
               <% end %> 
               <% @green_accountings.each do |green_accounting| %>
                <li><%= link_to green_accounting.title, green_accounting_path(green_accounting) %></li>
                <% end %>
                <li class="divider"></li>
                <li><a href="#">Something</a></li>
                <li class="divider"></li>
                <li><a href="#">something</a></li>
                </ul>
                </li>

                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "EnvoCalc", root_path %></li>
                <li><%= link_to "ReZapp", root_path %></li>
                
                </ul>
                </li>
      <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Employess", pages_employees_path %></li>
                  <% @visions.each do |vision| %>
                <li><%= link_to vision.title, vision_path(vision) %></li>
                <% end %>
                <li><%= link_to "Our Story", root_path %></li>
                <li><%= link_to "Career", root_path %></li>
                
                </ul>
                </li>
        
        <li><%=link_to "Contact", new_contact_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<script type="text/javascript">
  
$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});

</script>