<!DOCTYPE html>
<html>
<head>
  <title>Circular Solutions</title>

	<%= render 'favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="google-site-verification" content="ncn1X82nksiIJdZwZsILj66sj6PdYgK7hQhwhwkbDWs" />
</head>
<body>


<%= render 'navbar' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  
<%= yield %>

</body>
</html>
